@page "/"

<PageTitle>ANNotunzdY's Profile</PageTitle>

<h1>ANNotunzdY's Profile</h1>

<ul>
<li>香月 貴義 (Katsuki Takayoshi)</li>
<li>アプリも書けるフリーランスインフラエンジニア / プロジェクトマネージャ</li>
<li>株式会社パルソラ CTO</li>
</ul>

<h2>プロフィール</h2>
iPhoneが登場する前からObjective-Cを扱い、数十のiOS向けアプリケーションの開発を支援してきました。さらに、Androidアプリの開発や、Swiftを使ったiOSアプリケーション開発にも実績があります。また、サーバーサイドでは、Perl、PHP、TypeScript、Ruby on Railsなどを使用して開発を行っています。AWSをはじめとしたサーバーインフラの設計・構築の支援も行っており、現在はこちらの活動がメインとなっています。
<br>
新型コロナウイルス感染症の拡大前は、数百人〜数千人規模の国内技術系カンファレンスにおけるWi-Fi環境の構築支援に積極的に参加するなど、ボランティア活動も行っていました。
<br>
AWSなどのクラウドサービスの活用支援や構築自動化（IaC）、各種システム開発のマネージメントや技術顧問、スマートフォン向けアプリやWebシステムの受託開発（設計を含む）など、幅広い範囲で対応が可能です。

<h2>対応範囲</h2>
AWS等のクラウドサービスの活用支援・構築自動化（IaC）<br>
各種システム開発のマネージメント・技術顧問<br>
スマートフォン向けアプリ・Webシステム等の受託開発（設計含む）


<h2>略歴</h2>
1991年生まれ<br>
2001年、趣味でプログラミングを始める<br>
2009年より、iPhoneアプリケーション開発業務に携わる<br>
2010年、株式会社パンカク 入社<br>
2011年、都立新宿山吹高校卒業<br>
2011年、株式会社パンカク 退社<br>
2011年、ビヨンド・パースペクティブ・ソリューションズ株式会社 入社<br>
2012年、ビヨンド・パースペクティブ・ソリューションズ株式会社を退社し、フリーランスエンジニアとして独立<br>
2015年、合同会社きぼうソフト設立、同CEOに就任<br>
2018年、PHOTON合同会社 CTO就任、同年解散<br>
2019年、合同会社分散型ソーシャルネットワーク機構設立、同CEOに就任<br>
2019年、合同会社きぼうソフト解散<br>
2020年、合同会社分散型ソーシャルネットワーク機構解散<br>
2021年、株式会社インテグリティス 受託開発事業部 VPoE に就任<br>
2021年、株式会社パルソラ CTOに就任<br>
2022年、株式会社インテグリティス 受託開発事業部 VPoE を退任

<h2>主な対応可能技術</h2>

<h3>Language</h3>
Web
<br>
Ruby
<br>
Perl
<br>
PHP
<br>
Python
<br>
JavaScript
<br>
TypeScript
<br>
App
<br>
Objective-C
<br>
Objective-C++
<br>
Swift
<br>
Java
<br>
Kotlin
<br>
C
<br>
C++
<br>
C#
<br>
AppleScript
<br>
iOS
<br>
UIKit
<br>
CoreData
<br>
Cordova
<br>
Core ML
<br>
Vision
<br>
Metal
<br>
Android
<br>
Android SDK
<br>
Cordova

<h3>Web</h3>
Ruby on Rails
<br>
NestJS

<h3>DB</h3>
MySQL
<br>
PostgreSQL
<br>
SQLite
<br>
DB2
<br>
Redis
<br>
Elasticsearch

<h3>OS</h3>
macOS
<br>
MS-DOS
<br>
Windows
<br>
Ubuntu
<br>
CentOS
<br>
Red Hat Enterprise Linux
<br>
iOS
<br>
iPad OS
<br>
watchOS
<br>
Android

<h3>IaaS</h3>
Amazon Web Services
<br>
Microsoft Azure
<br>
Google Cloud Platform
<br>
さくらクラウド

<h3>Other</h3>
Win32
<br>
Cocoa
<br>
OpenCV
<br>
OpenGL
<br>
Unity
<br>
Docker
<br>
CloudFormation
<br>
IPv6
<br>
TCP / UDP
<br>
HTTP
<br>
SMTP
<br>
ICMP
<br>
TensorFlow

<h2>
    過去実績例</h2>
<h3>iOSアプリ関連</h3>
QRコードリーダー関連開発業務 (Objective-C)
<br>
電子書籍ビューア関連開発業務 (Objective-C / Java / C / JavaScript )
<br>
ペイント系ソフト関連開発業務 (Objective-C / Objective-C++ / C++ / Swift)
<br>
決済系アプリ関連開発開発業務 (Swift)
<br>
チャット系アプリ関連開発開発 (Objective-C / Swift)
<br>
動画系アプリ関連開発業務 (Objective-C)
<br>
ビーコン関連開発業務 (Objective-C / Swift)
<br>
カメラ系アプリ関連開発業務(Swift)
<br>
金融機関系アプリ関連開発業務 (Swift)

<h3>ゲーム開発関連</h3>

ソーシャルゲーム関連開発業務 (Unity / C#)

<h3>Web開発関連</h3>
ECサイト関連開発業務 (Ruby on Rails)
<br>
動画系サイト関連開発業務 (Ruby on Rails)
<br>
アプリ用APIサーバー開発業務 (Ruby on Rails)

<h3>システム開発関連</h3>
Mac系開発業務 (Objective-C)<br>
Windows系開発業務 (.NET / C#)
<br>
基幹業務系システムバックエンド開発業務（NestJS / TypeScript）
<br>
AI関連開発業務
<br>
AI活用関連開発業務（Python / Ruby on Rails）

<h2>取得資格</h2>
基本情報技術者
<br>
応用情報技術者
<br>
情報処理安全確保支援士（第018388号）
<br>
日商簿記３級

<h2>所属団体</h2>
一般社団法人 情報処理安全確保支援士会 会員

<h2>連絡先</h2>
Mail: dev@annotunzdy.info
<br>
X: <a href="https://x.com/an0mr">https://x.com/an0mr</a>

<Footer/>
